.today-section {
  margin: auto;
  width: 90%;
  height: fit-content;
  background-color: #007171;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;
}
.heading {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

  .card-container {
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .cards-area{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .subheading {
    font-size: 27px;
    font-weight: 300;
    color: #fff;
  }
  .card {
    width: 368px;
    height: 170px;
    background-color: #007E7E;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  }
  .numbers{
      color: #fff;
      font-size: 50px;
      font-weight: 700;
  }
  